.popup__label:not(:last-of-type) {
    margin-bottom: 5px;
}

.popup__label:last-of-type {
    margin-bottom: 20px;
}

@media (min-width: 644px) {
    .popup__label:last-of-type {
        margin-bottom: 45px;
    }
}

@media (max-width: 644px) {
    .popup__label:last-of-type {
        margin-bottom: 10px;
    }
}